<% provide(:title,"文章管理") %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card ml-1" id="sentence">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <strong><small><%= link_to @watson_language_master.content, sentence_path(:id => @watson_language_master.id) %></small></strong>
          </div>
        </div>
        <div class="row text-right">
          <div class="col-12">
          <%= form_for(:words, url: sentence_filter_path) do |f| %>
            <% if @keywords==nil %>
              <%= f.text_field :sentence, placeholder: "言葉、文章" %>
            <% else %>
              <%= f.text_field :sentence, :value => @keywords, placeholder: "言葉、文章" %>
            <% end %>
            <%= f.hidden_field :watson_id, value: @watson_language_master.id %>
            <%= f.submit "フィルター", class: "btn btn-outline-secondary" %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% @watson_language_masters.each do |wlm| %>
          <% if wlm.id != @watson_language_master.id && wlm.id != @watson_language_master.anchor %>
          <div class="row border-bottom">
            <div class="col-1">
              <%= link_to "参照", attached_path(:id => wlm.id, :sid => @watson_language_master.id), class: "btn btn-outline-info btn-sm", role: "button" %>
            </div>  
            <div class="col-11">
              <small><%= link_to wlm.content, sentence_path(:id => wlm.id) %></small>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer">
        <% if @keywords==nil %>
          <%= will_paginate(@watson_language_masters, :param_name => 'sentence_page', :params => {:id => @watson_language_master.id}, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
        <% else %>
          <%= will_paginate(@watson_language_masters, :param_name => 'sentence_page', :params => {:keywords => @keywords, :id => @watson_language_master.id}, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
        <% end %>
      </div>
    </div>
  </div>
</div>