<% provide(:title,"文章管理") %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card ml-1" id="sentence">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
          </div>
          <div class="col-6">
          <%= form_for(:words, url: sentence_filter_path) do |f| %>
            <div class="input-group mb-2">
              <% if @keywords==nil %>
                <%= f.text_field :sentence, placeholder: "言葉、文章", class: "form-control" %>
              <% else %>
                <%= f.text_field :sentence, :value => @keywords, class: "form-control" %>
              <% end %>
              <%= f.hidden_field :watson_id, value: @watson_language_master.id %>
              <div class="input-group-append">
                <%= f.submit "検索", class: "btn btn-outline-secondary btn-sm" %>
              </div>
            </div>
          <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= @watson_language_master.content %>
          </div>
        </div>

      </div>
      <div class="card-body">
        <% @watson_language_masters.each do |wlm| %>
          <% if wlm.id != @watson_language_master.id && wlm.id != @watson_language_master.anchor && Sentence.find_by(watson_language_master_id: wlm.id)==nil  %>
          <div class="row border-bottom">
            <div class="col-1">
              <%= link_to "参照", attached_path(:id => wlm.id, :sid => @watson_language_master.id), class: "btn btn-outline-info btn-sm", role: "button" %>
            </div>  
            <div class="col-11">
              <small><%= link_to wlm.content, sentence_path(:id => wlm.id) %></small>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer">
        <% if @keywords==nil %>
          <%= will_paginate(@watson_language_masters, :param_name => 'sentence_page', :params => {:id => @watson_language_master.id}, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
        <% else %>
          <%= will_paginate(@watson_language_masters, :param_name => 'sentence_page', :params => {:keywords => @keywords, :id => @watson_language_master.id}, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
        <% end %>
      </div>
    </div>
  </div>
</div>