<% provide(:title, "新規列情報") %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card" id="question">
      <div class="card-header text-center">
        <strong>新規列情報登録</strong>
      </div>
      <div class="card-body">
        <%= form_for(:question, url: question_new_path) do |f| %>
     
          <%= f.label :name, "名称" %>
          <%= f.text_field :name, placeholder: "要求仕様" , class: 'form-control'  %>
          </br>
          <%= f.label :column, "列番号" %>
          <%= f.text_field :column,  placeholder: "A" , class: 'form-control'  %>
          </br>
            <%= f.submit '列情報登録', class: "btn btn-outline-primary fluid" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
