<% provide(:title,"文章管理") %>
<% Time.zone = 'Tokyo' %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card ml-1" id="sentence">
      <div class="card-header">
        <%= @sentence.content %>
      </div>
      <div class="card-body">
        異形: <br/>
        <% @sentences.each do |sentence| %>
          <% if sentence.id != @sentence.id %>
            <%= sentence.content %><br/>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer">
        <% file = FileManager.find(@sentence.file_manager_id) %>
        <div class="row">
          <div class="col-8 text-left">
            ファイル: <%= file.name %>
          </div>            
          <div class="col-4 text-left">
            登録日: <%= file.created_at.in_time_zone.strftime("%Y年%-m月%d日 %H:%M") %>
          </div>            
        </div>
      </div>        
    </div>
    <% @answers.each do |key, values| %>
      <% hosvenid= key.split('-') %>
      <% hospital = Hospital.find(hosvenid[0].to_i) %>
      <% vendor = Vendor.find(hosvenid[1].to_i) %>
      <% file = FileManager.find(AnswerDenpyo.find(@answerdenpyoids[key]).file_manager_id) %>
      <div class="card ml-1 mt-1" id="sentence">
        <div class="card-header">
          <div class="row" >
            <div class="col-4">
              病院：<%= Company.find(hospital.company_id).name %>
            </div>
            <div class="col-4">
              ベンダー：<%= Company.find(vendor.company_id).name %>
            </div>
            <div class="col-2">
              列名:<%= @question.name %>
            </div>
            <div class="col-2">
              列所: <%= file.col_to_string(file.question_col.to_i) %>
            </div>
          </div>
        </div>
      
        <div class="card-body">
          <div class="row border-bottom">
            <div class="col-1 text-center"><strong>№</strong></div>
            <div class="col-2 text-center"><strong>列名</strong></div>
            <div class="col-1 text-center"><strong>列所</strong></div>
            <div class="col-8 text-center"><strong>回答</strong></div>
          </div>
          <% if file.answer_col!=nil %>
            <% colnum = file.answer_col.split(',') %>
          <% end %>
          <% (1..values.count).each do |i| %>
            <div class="row border-bottom">
            <div class="col-1 text-center"><%=i%>.</div>
            <div class="col-2 text-left"><%= @question.answers[i-1].name %></div>
            <div class="col-1 text-left"><%= file.col_to_string(colnum[i-1].to_i) %> <%# @question.answers[i-1].column %></div>
            <div class="col-8 text-left"><%= values[i-1] %></div>
            </div>
          <% end %>
        </div>
        <div class="card-footer">
          <%# file = FileManager.find(AnswerDenpyo.find(@answerdenpyoids[key]).file_manager_id) %>
          <div class="row">
            <div class="col-8 text-left">
              ファイル: <%= file.name %>
            </div>            
            <div class="col-4 text-left">
              登録日: <%= file.created_at.in_time_zone.strftime("%Y年%-m月%d日 %H:%M") %>
            </div>            
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>