<% provide(:title,"Home") %>
<div class="row mt-1">
  <div class="col-4">
    <% @sentence_count = Sentence.where("user_id=?",current_user.id).count %>
    <% @file_inprogress = FileManager.where("user_id=? AND status=0", current_user.id).count %>
    <% @yok_notices = @sentence_count+@file_inprogress %>
    <div class="card shadow">
      <div class="card-header text-center" id="card-title">
        <h4>要求仕様書</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            通知
          </div>
          <div class="col-4 text-right">
            <%= @yok_notices %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            ファイル
          </div>
          <div class="col-4 text-right">
            <%= FileManager.count %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            文章
          </div>
          <div class="col-4 text-right">
            <%= WatsonLanguageMaster.count %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            未確認文章
          </div>
          <div class="col-4 text-right">
            <%= Sentence.count %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            要求列バージョン
          </div>
          <div class="col-4 text-right">
            <%= Question.count %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            回答
          </div>
          <div class="col-4 text-right">
            <%= AnswerDenpyo.count %>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to "要求", yokyu_path, class: "btn btn-outline-primary btn-sm btn-block", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow">
      <div class="card-body text-center">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
        <div id="container_5" style="height: 262px"></div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title">
        <h4>マルチメディア内容記述</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("under_construction.png", alt:"yokyu icon", size: "144x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "工事中", mpeg7_path, class: "btn btn-outline-primary btn-sm btn-block", role: "button" %>
      </div>
    </div>
  </div>
  
</div>

<div class="row mt-1">
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title" >
        <h4>KPI</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("ico_feel.gif", alt:"yokyu icon", size: "202x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "KPI", kpi_path, class: "btn btn-outline-primary btn-sm btn-block", role: "button" %>
      </div>
    </div>
  </div>
  
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title">
        <h4>朝会議</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("ico_pooh.png", alt:"yokyu icon", size: "180x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "掲示板",  briefs_path, class: "btn btn-outline-primary btn-sm btn-block", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title-inactive">
        <h4>未来ツール</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("sbs_logo.png", alt:"yokyu icon", size: "180x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "未来", "#", class: "btn btn-secondary btn-sm btn-block disabled", role: "button" %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1">
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title-inactive" >
        <h4>未来ツール</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("sbs_logo.png", alt:"yokyu icon", size: "180x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "未来", "#", class: "btn btn-secondary btn-sm btn-block disabled", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title-inactive">
        <h4>未来ツール</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("sbs_logo.png", alt:"yokyu icon", size: "180x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "未来", "#", class: "btn btn-secondary btn-sm btn-block disabled", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title-inactive">
        <h4>未来ツール</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("sbs_logo.png", alt:"yokyu icon", size: "180x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "未来", "#", class: "btn btn-secondary btn-sm btn-block disabled", role: "button" %>
      </div>
    </div>
  </div>
</div>

<script>
// The speed gauge
var gaugeOptions = {

    chart: {
        type: 'solidgauge'
    },

    title: null,

    pane: {
        center: ['50%', '85%'],
        size: '120%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353'] // red
        ],
        lineWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        title: {
            y: -70
        },
        labels: {
            y: 16
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    }
};

var chartSpeed = Highcharts.chart('container_5', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: 100,
        title: {
            text: ''
        }
    },

    credits: {
        enabled: false
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },
    exporting: {enabled: false},
    series: [{
        name: 'Speed',
        data: [<%=@countrecords/2%>],
        dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                   '<span style="font-size:12px;color:silver">空き領域</span></div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }]

}));
</script>