<% provide(:title,"Home") %>
<div class="row mt-1">
  <div class="col-4">
    <% @sentence_count = Sentence.where("user_id=?",current_user.id).count %>
    <% @file_inprogress = FileManager.where("user_id=? AND status=0", current_user.id).count %>
    <% @yok_notices = @sentence_count+@file_inprogress %>
    <div class="card shadow">
      <div class="card-header text-center" id="card-title">
        <h4>要求仕様書</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            Notice
          </div>
          <div class="col-4 text-right">
            <%= @yok_notices %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Uploaded files
          </div>
          <div class="col-4 text-right">
            <%= FileManager.count %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Sentences
          </div>
          <div class="col-4 text-right">
            <%= WatsonLanguageMaster.count %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Confirmation Needed
          </div>
          <div class="col-4 text-right">
            <%= Sentence.count %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Question Versions
          </div>
          <div class="col-4 text-right">
            <%= Question.count %>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            Answers
          </div>
          <div class="col-4 text-right">
            <%= AnswerDenpyo.count %>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to "要求", yokyu_path, class: "btn btn-outline-primary btn-sm btn-block", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow">
      <div class="card-body text-center">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <div id="container_5" style="min-width: 50px; max-width: 400px; height: 262px; margin: 0 auto"></div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title-inactive">
        <h4>未来ツール</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("sbs_logo.png", alt:"yokyu icon", size: "180x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "未来", "#", class: "btn btn-secondary btn-sm btn-block disabled", role: "button" %>
      </div>
    </div>
  </div>
  
</div>

<div class="row mt-1">
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title-inactive" >
        <h4>未来ツール</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("sbs_logo.png", alt:"yokyu icon", size: "180x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "未来", "#", class: "btn btn-secondary btn-sm btn-block disabled", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title-inactive">
        <h4>未来ツール</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("sbs_logo.png", alt:"yokyu icon", size: "180x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "未来", "#", class: "btn btn-secondary btn-sm btn-block disabled", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card shadow">
      <div class="card-header text-center" id="card-title-inactive">
        <h4>未来ツール</h4>
      </div>
      <div class="card-body text-center">
        <%= image_tag("sbs_logo.png", alt:"yokyu icon", size: "180x144", id: "yokyu_icon") %>
      </div>
      <div class="card-footer">
        <%= link_to "未来", "#", class: "btn btn-secondary btn-sm btn-block disabled", role: "button" %>
      </div>
    </div>
  </div>
</div>

<script>
Highcharts.chart('container_5', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: 'Heroku PG (Hobby-Dev)'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 200,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: 'km/h'
        },
        plotBands: [{
            from: 0,
            to: 120,
            color: '#55BF3B' // green
        }, {
            from: 120,
            to: 160,
            color: '#DDDF0D' // yellow
        }, {
            from: 160,
            to: 200,
            color: '#DF5353' // red
        }]
    },

    series: [{
        name: 'Speed',
        data: [<%=@countrecords%>],
        tooltip: {
            valueSuffix: ' km/h'
        }
    }]

});
</script>