<% provide(:title,"Statistic") %>
<% user_counter = 0 %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card ml-1" id="users">
      <div class="card-header text-center">
          <h4>要求仕様書</h4>
      </div>
      <div class="card-body">

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <div class="row">
          <div class="col-12">
            <div id="container_6" ></div>
          </div>
        </div>
        <div class="row border-bottom">
          <div class="col-6 border-right">
            <div id="container_1" ></div>
          </div>
          <div class="col-6">
            <div id="container_2" ></div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 border-right">
            <div id="container_3" ></div>
          </div>
          <div class="col-6">
            <div id="container_4" ></div>
          </div>
        </div>
      </div>

    </div>

    <div class="card ml-1 mt-1" id="kakunin">
      <div class="card-header text-center">
          <h4>Storage</h4>
      </div>
      <div class="card-body">
        <div id="container_5" ></div>
      </div>
    </div>
    
  </div>
</div>

<script>
Highcharts.setOptions({
    colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    })
});

Highcharts.chart('container_1', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '文章登録'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '文章',
        colorByPoint: true,
        data: [
        <% @bunsho.sort_by {|k,v| v}.reverse.each do |k,v| %>
          <% name = User.find(k).email.split('@') %>
          <% if user_counter==0 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>,
            sliced: true,
            selected: true
            },
          <% elsif user_counter == @bunsho.count-1 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            }
          <% else %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            },
          <% end %>
          <% user_counter+=1 %>
        <% end %>
        ]
    }]
});

Highcharts.chart('container_2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '回答登録'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '回答',
        colorByPoint: true,
        data: [
      
        <% user_counter=0 %>
        <% @kaito.sort_by {|k,v| v}.reverse.each do |k,v| %>
          <% name = User.find(k).email.split('@') %>
          <% if user_counter==0 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>,
            sliced: true,
            selected: true
            },
          <% elsif user_counter == @kaito.count-1 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            }
          <% else %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            },
          <% end %>
          <% user_counter+=1 %>
        <% end %>
        ]
    }]
});

Highcharts.chart('container_3', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'ファイル登録'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'ファイル',
        colorByPoint: true,
        data: [
      
        <% user_counter=0 %>
        <% @file_use.sort_by {|k,v| v}.reverse.each do |k,v| %>
          <% name = User.find(k).email.split('@') %>
          <% if user_counter==0 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>,
            sliced: true,
            selected: true
            },
          <% elsif user_counter == @file_use.count-1 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            }
          <% else %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            },
          <% end %>
          <% user_counter+=1 %>
        <% end %>
        ]
    }]
});

Highcharts.chart('container_4', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '未確認文書'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },
    
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '確認文章',
        colorByPoint: true,
        data: [
      
        <% user_counter=0 %>
        <% @sentence_use.sort_by {|k,v| v}.reverse.each do |k,v| %>
          <% name = User.find(k).email.split('@') %>
          <% if user_counter==0 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>,
            sliced: true,
            selected: true
            },
          <% elsif user_counter == @sentence_use.count-1 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            }
          <% else %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            },
          <% end %>
          <% user_counter+=1 %>
        <% end %>
        ]
    }]
});

Highcharts.chart('container_5', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },

    title: {
        text: 'Heroku PG (Hobby-Dev) Storage'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 200,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: 'km/h'
        },
        plotBands: [{
            from: 0,
            to: 120,
            color: '#55BF3B' // green
        }, {
            from: 120,
            to: 160,
            color: '#DDDF0D' // yellow
        }, {
            from: 160,
            to: 200,
            color: '#DF5353' // red
        }]
    },

    series: [{
        name: 'Speed',
        data: [<%=@countrecords%>],
        tooltip: {
            valueSuffix: ' km/h'
        }
    }]

});

Highcharts.chart('container_6', {

    chart: {
        type: 'gauge',
        plotBorderWidth: 1,
        plotBackgroundColor: {
            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
            stops: [
                [0, '#FFF4C6'],
                [0.3, '#FFFFFF'],
                [1, '#FFF4C6']
            ]
        },
        plotBackgroundImage: null,
        height: 200
    },

    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },

    title: {
        text: '信頼性'
    },

    pane: [{
        startAngle: -45,
        endAngle: 45,
        background: null,
        center: ['25%', '145%'],
        size: 300
    }, {
        startAngle: -45,
        endAngle: 45,
        background: null,
        center: ['75%', '145%'],
        size: 300
    }],

    tooltip: {
        enabled: false
    },

    yAxis: [{
        min: -10,
        max: 10,
        minorTickPosition: 'outside',
        tickPosition: 'outside',
        labels: {
            rotation: 'auto',
            distance: 20
        },
        plotBands: [{
            from: -10,
            to: -2,
            color: '#C02316',
            innerRadius: '100%',
            outerRadius: '105%'
        }],
        pane: 0,
        title: {
            text: '<%=@noanswer.to_i%><br/><span style="font-size:8px">回答なし</span>',
            y: -40
        }
    }, {
        min: -50,
        max: 50,
        minorTickPosition: 'outside',
        tickPosition: 'outside',
        labels: {
            rotation: 'auto',
            distance: 20
        },
        plotBands: [{
            from: -50,
            to: -20,
            color: '#C02316',
            innerRadius: '100%',
            outerRadius: '105%'
        }],
        pane: 1,
        title: {
            text: '<%=@countsentence.to_i%><br/><span style="font-size:8px">未確認</span>',
            y: -40
        }
    }],

    plotOptions: {
        gauge: {
            dataLabels: {
                enabled: false
            },
            dial: {
                radius: '100%'
            }
        }
    },


    series: [{
        name: 'Channel A',
        data: [<%=@rep01%>],
        yAxis: 0
    }, {
        name: 'Channel B',
        data: [<%=@rep02%>],
        yAxis: 1
    }]

});

</script>