<% provide(:title,"Statistic") %>
<% user_counter = 0 %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card ml-1" id="users">
      <div class="card-header text-center">
          <h4>要求仕様書</h4>
      </div>
      <div class="card-body">

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

        <div class="row border-bottom">
          <div class="col-6 border-right">
            <div id="container_1" ></div>
          </div>
          <div class="col-6">
            <div id="container_2" ></div>
          </div>
        </div>
        <div class="row border-bottom">
          <div class="col-6 border-right">
            <div id="container_3" ></div>
          </div>
          <div class="col-6">
            <div id="container_4" ></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div id="container_6" ></div>
          </div>
        </div>

      </div>

    </div>

    <div class="card ml-1 mt-1" id="kakunin">
      <div class="card-header text-center">
          <h4>データ使用率</h4>
      </div>
      <div class="card-body">
        <div id="container_5" ></div>
      </div>
    </div>
    
  </div>
</div>

<script>
Highcharts.setOptions({
    colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    })
});

Highcharts.chart('container_1', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '文章登録'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '文章',
        colorByPoint: true,
        data: [
        <% @bunsho.sort_by {|k,v| v}.reverse.each do |k,v| %>
          <% name = User.find(k).email.split('@') %>
          <% if user_counter==0 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>,
            sliced: true,
            selected: true
            },
          <% elsif user_counter == @bunsho.count-1 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            }
          <% else %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            },
          <% end %>
          <% user_counter+=1 %>
        <% end %>
        ]
    }]
});

Highcharts.chart('container_2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '回答登録'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '回答',
        colorByPoint: true,
        data: [
      
        <% user_counter=0 %>
        <% @kaito.sort_by {|k,v| v}.reverse.each do |k,v| %>
          <% name = User.find(k).email.split('@') %>
          <% if user_counter==0 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>,
            sliced: true,
            selected: true
            },
          <% elsif user_counter == @kaito.count-1 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            }
          <% else %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            },
          <% end %>
          <% user_counter+=1 %>
        <% end %>
        ]
    }]
});

Highcharts.chart('container_3', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'ファイル登録'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'ファイル',
        colorByPoint: true,
        data: [
      
        <% user_counter=0 %>
        <% @file_use.sort_by {|k,v| v}.reverse.each do |k,v| %>
          <% name = User.find(k).email.split('@') %>
          <% if user_counter==0 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>,
            sliced: true,
            selected: true
            },
          <% elsif user_counter == @file_use.count-1 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            }
          <% else %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            },
          <% end %>
          <% user_counter+=1 %>
        <% end %>
        ]
    }]
});

Highcharts.chart('container_4', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '未確認文書'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },
    
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '確認文章',
        colorByPoint: true,
        data: [
      
        <% user_counter=0 %>
        <% @sentence_use.sort_by {|k,v| v}.reverse.each do |k,v| %>
          <% name = User.find(k).email.split('@') %>
          <% if user_counter==0 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>,
            sliced: true,
            selected: true
            },
          <% elsif user_counter == @sentence_use.count-1 %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            }
          <% else %>
            {
            name: '<%= name[0] %>',
            y: <%= v %>
            },
          <% end %>
          <% user_counter+=1 %>
        <% end %>
        ]
    }]
});

var gaugeOptions = {

    chart: {
        type: 'solidgauge'
    },

    title: null,

    pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353'] // red
        ],
        lineWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        title: {
            y: -70
        },
        labels: {
            y: 16
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    }
};

// The speed gauge
var chartSpeed = Highcharts.chart('container_5', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: 100,
        title: {
            text: '空き領域'
        }
    },

    credits: {
        enabled: false
    },
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: 'SVG保存',
      downloadCSV: 'CSV保存',
      downloadXLS: 'XLS保存',
      viewData: '詳細データ表示',
      openInCloud: 'Highcharts Cloudで開く'
    },

    series: [{
        name: 'Speed',
        data: [<%=@countrecords/2%>],
        dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                   '<span style="font-size:12px;color:silver">％</span></div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }]

}));


Highcharts.chart('container_6', {

    chart: {
        type: 'gauge',
        plotBorderWidth: 1,
        plotBackgroundColor: {
            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
            stops: [
                [0, '#FFF4C6'],
                [0.3, '#FFFFFF'],
                [1, '#FFF4C6']
            ]
        },
        plotBackgroundImage: null,
        height: 200
    },
    exporting: {enabled: false},
    lang: {
      printChart: '印刷',
      downloadPNG: 'PNG保存',
      downloadJPEG: 'JPEG保存',
      downloadPDF: 'PDF保存',
      downloadSVG: '',
      downloadCSV: '',
      downloadXLS: '',
      viewData: '詳細データ表示',
      openInCloud: ''
    },

    title: {
        text: '信頼性'
    },

    pane: [{
        startAngle: -45,
        endAngle: 45,
        background: null,
        center: ['25%', '145%'],
        size: 300
    }, {
        startAngle: -45,
        endAngle: 45,
        background: null,
        center: ['75%', '145%'],
        size: 300
    }],

    tooltip: {
        enabled: false
    },

    yAxis: [{
        min: -10,
        max: 10,
        minorTickPosition: 'outside',
        tickPosition: 'outside',
        labels: {
            rotation: 'auto',
            distance: 20
        },
        plotBands: [{
            from: -10,
            to: -2,
            color: '#C02316',
            innerRadius: '100%',
            outerRadius: '105%'
        }],
        pane: 0,
        title: {
            text: '<%=@noanswer.to_i%><br/><span style="font-size:8px">回答なし</span>',
            y: -40
        }
    }, {
        min: -50,
        max: 50,
        minorTickPosition: 'outside',
        tickPosition: 'outside',
        labels: {
            rotation: 'auto',
            distance: 20
        },
        plotBands: [{
            from: -50,
            to: -20,
            color: '#C02316',
            innerRadius: '100%',
            outerRadius: '105%'
        }],
        pane: 1,
        title: {
            text: '<%=@countsentence.to_i%><br/><span style="font-size:8px">未確認</span>',
            y: -40
        }
    }],

    plotOptions: {
        gauge: {
            dataLabels: {
                enabled: false
            },
            dial: {
                radius: '100%'
            }
        }
    },


    series: [{
        name: 'Channel A',
        data: [<%=@rep01%>],
        yAxis: 0
    }, {
        name: 'Channel B',
        data: [<%=@rep02%>],
        yAxis: 1
    }]

});

</script>