
<div class="card" style="width: 6rem;">
  <% if @selected_item==0 %>
    <a href="<%= companies_path %>" class="card-header pl-4 pt-1 pb-1 bg-info" data-toggle="tooltip" data-placement="right" title="顧客管理">
  <% else %>
    <a href="<%= companies_path %>" class="card-body pl-4 pt-1 pb-1 bg-light" data-toggle="tooltip" data-placement="right" title="顧客管理">
  <% end %>
    <%= image_tag("ico_clients.png", alt:"yokyu icon", size: "40x45", id: "yokyu_icon") %>
  </a>
  
  <% if @selected_item==1 %>
    <a href="<%= companies_new_path %>" class="card-header pl-4 pt-1 pb-1 bg-info" data-toggle="tooltip" data-placement="right" title="新顧客様">
  <% else %>
    <a href="<%= companies_new_path %>" class="card-body pl-4 pt-1 pb-1 bg-light" data-toggle="tooltip" data-placement="right" title="新顧客様">
  <% end %>
    <%= image_tag("ico_client_add.png", alt:"yokyu icon", size: "40x45", id: "yokyu_icon") %>
  </a>
  <% if @selected_item==2 %>
    <a href="<%= yokyu_path %>" class="card-header pl-4 pt-1 pb-1 bg-info" data-toggle="tooltip" data-placement="right" title="要求仕様書">
  <% else %>
    <a href="<%= yokyu_path %>" class="card-body pl-4 pt-1 pb-1 bg-light" data-toggle="tooltip" data-placement="right" title="要求仕様書">
  <% end %>
    <%= image_tag("ico_yokyu.png", alt:"yokyu icon", size: "40x45", id: "yokyu_icon") %>
  </a>
</div>  
  