<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card" id="company">
      <div class="card-header">
        <strong>編集</strong>
      </div>
      <div class="card-body">
        <%= form_for(:company, url: companies_update_path) do |f| %>
           
          <%= f.hidden_field :id, value: @get_company.id %>
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, :value => @get_company.name , class: 'form-control'  %>
          </br>
          <%= f.label :address, "住所" %>
          <%= f.text_area :address, :value => @get_company.address , class: 'form-control'  %>
          </br>
          区分：
          <%= f.label :hospital, class: "form-check form-radio-inline ml-3" do %>
            <%= f.radio_button :hospital, :hospital %> 
            <%= f.label :病院, class: "hospital" %>
            <br/>
            <%= f.radio_button :hospital, :vendor %> 
            <%= f.label :ベンダー, class: "vendor" %>
          <% end %>
          </br>
            <%= f.submit '登録', class: "btn btn-outline-success fluid" %>
        <% end %>
      </div>
    </div>
  </div>
</div>