<div class="row mt-1">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        問題を選んでください。
      </div>
      <div class="card-body pb-0">
        <div class="row text-center">
          <div class="col-1">
            №
          </div>
          <div class="col-9">
            問題
          </div>
          <div class="col-2">
            明細
          </div>
        </div>
        <%= form_for(:choosemondai, url: choosemondai_path) do |f| %>
          <% @kenteis.each do |kentei| %>
            <div class="row border-top">
              <div class="col-1">
                <%= f.label :chosen, class: "checkbox" do %>
                  <%= f.check_box :chosen, multiple: true %>
                <% end %>  
                <%= kentei.number %>
              </div>
              <div class="col-9">
                <%= kentei.question %>
                <% kmondais =  Kchoice.where("kmondai_id=?", kentei.id).order("number") %>
                <% kmondais.each do |kmondai| %>
                <div class="row">
                  <div class="col-1">
                    <%= kmondai.number %>
                  </div>
                  <div class="col-11">
                    <%= kmondai.sentence %>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="col-2">
                Level: <%= kentei.level %></br>
                ｼｽﾃﾑ:<%= kentei.system %></br>
                ｵｰﾀﾞｰ:<%= kentei.order %></br>
                分類:<%= kentei.suborder %>
              </div>
            </div>
          <% end %>
          <div class="row pb-0">
            <div class="col-11">
              <%= f.submit "選択する", class: "btn btn-outline-success btn-block" %>
            </div>
            <div class="col-1 pl-0">
               <%= image_tag("chibi02.gif", alt:"yokyu icon", size: "60x60", id: "yokyu_icon") %></br>
            </div>
          </div>
         
        <% end %>
      </div>
    </div>
  </div>
</div>