<% provide(:title, "顧客管理") %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <%= link_to "テスト一覧", kenteiexam_path, class: "btn btn-outline-primary btn-sm", role: "button" %>
              <%= link_to "新規テスト", newtest_path, class: "btn btn-outline-primary btn-sm", role: "button" %>
              <%= link_to "テスト管理", managetest_path, class: "btn btn-outline-primary btn-sm", role: "button" %>
              <%= link_to "問題管理", manageexam_path, class: "btn btn-outline-secondary btn-sm", role: "button" %>
            </div>
          </div>
        </div>
      </div>
      <% if @naiyo==0 %>
        <%= render "test_ichiran" %>
      <% elsif @naiyo==1 %>
        <%= render "shinki_test" %>
      <% elsif @naiyo==3 %>
        <%= render "choosemondai" %>
      <% elsif @naiyo==4 %>
        <%= render "chooseuser" %>
      <% elsif @naiyo==5 %>
        <%= render "test_edit" %>
      <% elsif @naiyo==6 %>
        <%= render "mondai_list" %>
      <% else %>
        <%= render "test_kanri" %>
      <% end %>
    </div>
  </div>
   
</div>