<% provide(:title,"申し込み") %>
<div class="row justify-content-xl-center" id="register-card">
  <div class="col col-xl-4">
    <div class="card">
      <div class="card-header">
        <strong>ログイン</strong>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            Eメール<br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        
          <div class="field">
            パスワード<br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
        
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              ログイン状態を保持
            </div>
          <% end -%>
        
          <div class="actions">
            <%= f.submit "ログイン", class: "btn-block" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-muted">
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
