<% provide(:title,"報告KGI") %>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<div class="row">
  <aside class="col-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-11 pl-4">
    <div class="card">
      <div class="card-header text-center pb-0">
        <div class="row">
          <div class="col-8">
            KGI
          </div>
          <div class="col-4">
          <%= form_for(:userkgi, url: userkgi_path) do |f| %>
             <%= f.hidden_field :prev_selected, value: @checkbox %>
             <div class="row">
                <div class="col-10">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <%= f.label :year, "年度", class:"input-group-text"  %>
                    </div>
                    <%= f.select :year, (1999..2999).collect { |p| [p, p] }, {:selected => @year}, {class: 'custom-select'} %>
                  </div>
                </div>
                <div class="col-2 pt-1 pl-0">
                  <%= f.submit "変更", class: "btn btn-outline-secondary btn-sm " %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="container_1"></div>
      </div>
    </div>
  </div>
</div>
<script>
Highcharts.chart('container_1', {
    chart: {
        type: 'column'
    },
    title: {
        text: '<%= @selected_date_1.year %>年度'
    },
    subtitle: {
        text: '看護チーム'
    },
    xAxis: {
        categories: [
          <% c_nameselected=@nameselected.count-1 %>
          <% i_nameselected=0 %>
          <% @nameselected.each do |k,v| %>
            '<%= v %>'
            <% if i_nameselected < c_nameselected%>
              ,
            <% end %>
            <% c_nameselected+=1 %>
         
          <% end %>
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: '点 (%)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} 点</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
      <% (0..@series.count-1).each do |i| %>
        { name : '<%=@exams[i].fname%> (<%=@heikin[i].to_i%>)',
          data: [
            <% (0..@series[i].count-1).each do |j| %>
              <%= @series[i][j] %>
              <% if j!=@series[i].count-1 %>
                ,
              <% end %>
            <% end %>
          ]
        }
        <% if i!=@series.count-1 %>
          ,
        <% end %> 
      <% end %>
    ]
});
</script>