<% provide(:title,"報告KGI") %>
<div class="row">
  <aside class="col-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-11 pl-4">
    <div class="card">
      <div class="card-header text-center">
        Key Goal Indicator (KGI)
      </div>
      <div class="card-body">
        <%= form_for(:userkgi, url: userkgi_path) do |f| %>
          <% @users.each do |user| %>
            <div class="row pl-3">
              <div class="col-12"><%= f.check_box :cbchoice , multiple: true %>
              <%= user.email %></div>                  
            </div>
          <% end %>
          <br/>
          <%= f.submit "表示", class: "btn btn-outline-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>