<header class="navbar navbar-light  bg-light navbar-fixed-top shadow p-1 mb-3 rounded">
  <div class="container">
    <a class="navbar-brand" href="#" id="sbs_title">
      <%= image_tag("sbs_logo.png", alt:"sbs logo", size: "40x27", id: "sbs_logo") %>看護チーム実験室
    </a>
    <nav>
      <ul class="nav">
        <% if user_signed_in? %>
          <%# @sentence_count = Sentence.where("user_id=?",current_user.id).count %>
          <% @sentence_count = Sentence.count %>
          <% @file_inprogress = FileManager.where("user_id=? AND status=0", current_user.id).count %>
          
          <% in_sentence_array=[] %>
          <% wlms = WatsonLanguageMaster.where("anchor = -1") %>
          <% wlms.each do |wlm| %>
            <% if Sentence.find_by(watson_language_master_id: wlm.id) == nil && AnswerDenpyo.where("watson_language_master_id = ?",wlm.id).first == nil %>
              <% in_sentence_array.push(wlm.id) %>
            <% end %>
          <% end %>

          <% @yok_notices = @sentence_count + @file_inprogress + in_sentence_array.count %>
          <li class="nav-item mr-1"><%= link_to "ホーム", root_path, class: "nav-link" %></li>
          <li class="dropdown nav-link">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% total = @yok_notices + 0 %>
              <% if total>0 %>
                ツール<%= content_tag :span, total, class: 'badge badge-pill badge-danger' %><b class="caret"></b>
              <% else %>
                ツール<b class="caret"></b>
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="nav-link" href="<%= companies_path %>">顧客管理</a>
                <% if @yok_notices>0 %>
                  <a class="nav-link" href="<%= yokyu_path %>">要求仕様書 <%= content_tag :span, @yok_notices, class: 'badge badge-pill badge-danger' %></a>
                <% else %>
                  <a class="nav-link" href="<%= yokyu_path %>">要求仕様書</a>
                <% end %>
                <a class="nav-link" href="#">Next Project </a>
              </li>
            </ul>
          </li>
          
          <li class="dropdown nav-link">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              プロフィール<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.marshal %>
              <li><%= link_to "ユーザー管理", user_management_path, class: "nav-link" %></li>
              <% end %>
              <li><%= link_to "編集", edit_user_registration_path, class: "nav-link" %></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %> </li>
            </ul>
          </li>
          
        <% else %>
          <li class="nav-item"><%= link_to "申し込み", new_user_registration_path, class: "nav-link" %></li>
          <!--<li class="nav-item"><%#= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %> </li> -->
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>